nav .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;


}

nav .nav-sec-btn {
    border: 2px solid #000000;
    text-decoration: none;
    color: #000000;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

nav .nav-primary-btn {
    border: 2px solid #000000;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

nav .menu-container {
    display: flex;
    gap: 40px;
    padding-left: 160px;
    padding-top: 10px
}

nav .nav-container .menu-container a {
    text-decoration: none !important;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

nav .nav-container .button-container {
    padding-top: 10px
}