nav .nav-container {
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    /* background-color: rgb(205, 70, 49); */


}

nav .nav-sec-btn {
    border: 2px solid #000000;
    text-decoration: none;
    color: #000000;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

nav .nav-primary-btn {
    border: 2px solid #000000;
    text-decoration: none;
    background: #000000;
    color: #ffffff;
    border-radius: 7px;
    padding: 8px 20px;
    font-weight: 700;
    font-size: 14px;
    cursor: pointer;
}

nav .menu-container {
    display: flex;
    gap: 40px;
    padding-left: 165px;
    padding-top: 20px;

}

nav .nav-container .menu-container a {
    text-decoration: none !important;
    color: #000000;
    font-weight: 700;
    font-size: 16px;
}

nav .nav-container .button-container {
    display: flex;
    padding-top: 20px;
}

nav .nav-container .hamburger-icon-container {
    position: absolute;
    right: 25px !important;
    top: 45px !important;
    display: none;
    background-color: transparent;
    border: none
}


/* css media query */
@media screen and (max-width:991px) {
    nav .nav-container {
        flex-direction: column;
        padding: 20px 50px;

    }

    nav .menu-container {
        display: flex !important;
        flex-direction: column;
        justify-content: start !important;
        padding-left: 0px;
        gap: 30px;
        margin-top: 90px;
        position: absolute !important;
        left: -100%;
        transition: 0.2s ease-in;
        width: 100%;
        background-color: rgb(205, 70, 49);
        z-index: 1000;
        /* height: 100vh; */
        /* padding-bottom: 40px */
    }

    nav .nav-container .button-container {
        display: flex !important;
        flex-direction: column;
        gap: 35px;
        margin-top: 215px;
        position: absolute;
        left: -100%;
        transition: 0.2s ease-in;
        width: 100%;
        padding-top: 60px;
        background-color: rgb(205, 70, 49);
        padding-bottom: 50px;
        height: 100vh;
    }

    nav .nav-primary-btn {
        padding: 9px 20px;

    }

    nav .nav-container .logo-container img {
        margin-left: -5px !important
    }

    nav .nav-container .hamburger-icon-container {
        display: block;

    }

    .open-nav {
        /* position: absolute !important; */
        left: 0% !important;
        padding-left: 50px !important;

    }

}


@media screen and (max-width:500px) {
    nav .nav-container {
        padding: 20px 30px
    }

    .open-nav {
        /* position: absolute !important; */
        left: 0% !important;
        padding-left: 30px !important;

    }

}