#cta {
  background-color: #edf3f7 !important;
  padding-top: 50px;
  padding-bottom: 140px;
  width: 100%;
  overflow: hidden;
}
/* #cta .container-fluid {
  width: 100%;
  padding-top: 50px;
} */

.cta-image-1 {
  width: 370px;
  left: -20px;
  position: absolute;
  top: 320px;
}

.cta-image-2 {
  width: 350px;
  right: 0px !important;
  position: absolute;
}

#cta .icon-container-parent .title {
  color: #4d4d4d;
  font-size: 14px;
  font-weight: 500;
  line-height: 160%;
}

@media screen and (max-width: 1280px) {
  #cta {
    padding-bottom: 100px;
  }
}

@media screen and (max-width: 991px) {
  .cta-image-1 {
    width: 200px;
    left: -20px;
    position: absolute;
    top: 420px;
  }

  .cta-image-2 {
    width: 200px;
    right: 0px !important;
    position: absolute;
    top: -200px;
  }
}

@media screen and (max-width: 768px) {
  .cta-image-1 {
    top: 480px;
  }
}

@media screen and (max-width: 500px) {
  #cta {
    padding-bottom: 100px;
  }
  .cta-image-1 {
    width: 120px;
    left: -10px;
    top: 500px;
  }

  .cta-image-2 {
    width: 120px;
    right: -40px !important;
    top: -490px;
    rotate: 330deg;
  }
}
