#cta {
  background-color: #edf3f7 !important;
  padding-top: 50px;
  padding-bottom: 670px;
  width: 100%;
  overflow: hidden;
}
/* #cta .container-fluid {
  width: 100%;
  padding-top: 50px;
} */

.cta-image-1 {
  width: 370px;
  left: -20px;
  position: absolute;
  top: 320px;
}

.cta-image-2 {
  width: 350px;
  right: 0px !important;
  position: absolute;
}
